h1
{
    background-color: aqua;
    /*
    padding-left: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
    */

    /* padding: 16px;
    margin-left: 100px;
    margin-top: 100px; */

    padding: 100px;
    margin: 100px;

    border: 2px solid red;
}

div
{
    height: 300px;
    width: 400px;
    background-color: aqua;
    margin: 100px;
    padding: 100px;
    border: 2px solid red;
}