body{
    text-align: center;
    background-color: rgb(7, 242, 195);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



h1{
    padding-top: 250px;
    padding-bottom: 50px;
}
a {
    
    display: inline-block ; 
    background-color: orangered;
    padding: 20px;
    border-radius:42px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:black;

}
