h3{
    display: inline-block ;
    height: 45px;
    width: 150px;
    background-color: blue;
    margin: 16px;
    padding: 16px;
}
a{
    display: block;
    height: 45px;
    width: 150px;
    background-color: rgb(107, 80, 80);
    margin: 16px;
    padding: 16px;
    border: 4px solid greenyellow;
    text-decoration: none;
}