<%- include("includes/head.ejs") %>
<body>
    <!-- <h1>Dice Gave Value : <%= Math.floor(Math.random() * 6) +1 %> </h1> -->
    <h1>Dice Gave Value : <%= diceVal %> </h1>
    <%- include("includes/footer.ejs") %>
</body>
</html>