body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.rose-image {
    width: 300px;
    cursor: pointer;
    border: 4px solid red;
    border-radius: 10px;
    transition: transform 0.2s ease;
    box-shadow: 12px;
}

.rose-image:hover {
    transform: scale(1.05);
}

.poem-container {
    text-align: center;
    margin: 50px auto;
    width: 60%;
    
}

h1 {
    font-size: 36px;
    color: #333;
}

h2 {
    font-size: 48px;
    color: #cc0000;
    margin-bottom: 20px;
}

.rose-image-poem {
    width: 200px;
    margin-bottom: 20px;
}

.poem-text {
    font-size: 20px;
    line-height: 1.6;
}

.stanza-green {
    color: green;
}

.stanza-blue {
    color: blue;
}

.stanza-red {
    color: red;
}
