ol{
    width: auto;
    height: 100px;
}

ol li{
    width: 100px;
    height: 40px;
    background-color: green;
    float: left;
    margin-right: 10px;
    list-style-type: none;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    border-radius: 10px;
}
li:hover{
    background-image: linear-gradient(100deg,orange,rgb(234, 53, 240));

}
ol li a{
   color: black; 
   text-decoration: none;
}
ol li a:hover{
    color:rgb(225, 8, 8);
}
.dropdown-content{
    display: none;
    background-color: white;
    min-width: 160px;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: bisque;

}
.dropdown:hover .dropdown-content{
    display: block;
}
body{
    background-color: aquamarine;
}