#a1{
    background-color: red;
    height: 100px;
    width: 450px;
    border: 4px solid green;
    border-radius: 15px;
}
#a2{
    background-color: greenyellow;
    height: 100px;
    width: 450px;
    border-top: 8px solid violet;
    border-bottom: 8px   solid blue;
    border-left: 8px solid black;
    border-right: 8px solid green;
    border-top-left-radius: 20px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 30px;


}

#a3{
    color: blue;
    border: 4px solid red;
    height: 1000px;
    width: 400px;
    background-image: url(virat.kohli.jpg);
    background-repeat: no-repeat;
    background-position: center right;

}