header{
    border: 2px solid red;
    margin: auto;
    width: 1200px;
}
img{
    margin: auto;
    display: block;
    width: 35px;
}
h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}
.r2{
    border: 4px solid black;
    background-color: aquamarine;
    margin: 4px 0px;
    padding: 23%;
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
}
.a1{
    margin: auto;
    width: 1200px;
}