#r1{
    position: static;
    border: 2px solid red;
}
.Apple{
    position: relative;
}
#r2{
    position: absolute;
    border: 2px solid blue;
    height: 100px;
    width: 69%;
}
#r3{
    position: absolute;
    background-color: brown;
    height: 60px;
    width: 39%;
    top: 50px;
}
#r4{
    position: absolute;
    background-color: aquamarine;
    width: 37%;
    left: 270px;
    top: -17px;
    top: -17px;
    height: 100px;
}
#r5{
    position: fixed;
    border: 6px solid green;
    /* height: 78px;
    width: 50px;
    left: 78px; */
}
div.Ball{
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(211, 170, 250);
    top: 0;
    padding: 6px;
    border: 2px solid red;
}
body{
    background-color: antiquewhite;
}
